<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/static/js/lib/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </head>
    <body>
        <div class="login_reg_container">
            <div class="login_reg_form">
                <div class="form_control_block">
                    <div class="form_icon"><i class="fas fa-user"></i></div>
                    <div class="form_control">
                        <input id="login" placeholder="Логин">
                    </div>
                </div>
                <div class="form_control_block">
                    <div class="form_icon"><i class="fas fa-lock"></i></div>
                    <div class="form_control">
                        <input id="password" type="password" placeholder="Пароль">
                    </div>
                </div>
                <div class="login_reg_submit">ВОЙТИ2</div>
                <div class="form_control_block">
                    <div class="form_account">Нет аккаунта?</div>
                    <div class="form_reg">Регистрация</div>
                </div>
            </div>
        </div>
    </body>
</html>

