.main_menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #819caa;
}

.search_string {
  height: 20px;
  background: #c2c7ce;
  border: none;
  outline: none;
  padding: 5px;
  width: 250px;
  margin: 0;
  margin-left: 200px;/* TODO отступы будут назначены по контейнерам */
  border-radius: 5px;

  & input {
    background: transparent;
    outline: none;
    border: none;
    color: #ffffff;
  }
}

