input {
  font:normal 14px "Open Sans Regular",Helvetica,Garuda,sans-serif;
  letter-spacing: 0.5px;
}

body {
  font:normal 14px "Open Sans",Helvetica,Garuda,sans-serif;
  letter-spacing: 0.5px;
  margin: 0;
}

.err_input {
  border: 1px solid red;
}

